

<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Home | <%= app_name %></title>
      <meta property="og:title" content="<%= app_name %>"/>
      <meta property="og:description" content="<%= app_description %>" />
      <meta property="og:image" content="https://i.imgur.com/btKKFDe.png"/>
      <%- include("/app/public/ressources/require.ejs") %>
      <link rel="stylesheet" href="/style.css">
   </head>
   <body>
      <%- include("/app/public/ressources/navbar.ejs") %>
      <section class="hero is-info is-medium">
         <div class="hero-body">
            <div class="container">
               <h1 class="title columns is-mobile is-centered">
                  <%= app_name %>
               </h1>
               <h2 class="subtitle columns is-mobile is-centered">
                  <%= app_description %>
               </h2>
            </div>
         </div>
      </section>
      <br>
      <section class="container">
         <div class="columns features">
            <div class="column">
               <div class="card is-shady">
                  <header class="card-header">
                     <p class="card-header-title has-background-info has-text-white">
                        Open Source
                     </p>
                  </header>
                  <div class="card-content">
                     <div class="content">
                        <p class="title is-6">
                           <a href="https://github.com/Aaaaalpha/bot-discord-web-dashboard" class="card-footer-item">Github Repo</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="card is-shady">
                  <header class="card-header">
                     <p class="card-header-title has-background-info has-text-white">
                        Invitation
                     </p>
                  </header>
                  <div class="card-content">
                     <div class="content">
                        <p class="title is-6">
                           <a href="https://discordapp.com/oauth2/authorize?client_id=<%= bot_id %>&scope=bot&permissions=8" class="card-footer-item">Invite me</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>