<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= server.name %> | <%= app_name %></title>
      <%- include("/app/public/ressources/require.ejs") %>
   </head>
   <body>
      <%- include("/app/public/ressources/navbar.ejs") %>
      <br>
      <p class="title is-1 columns is-mobile is-centered">Dashboard of <span class="has-text-danger">&nbsp;<%= server.name %></span>.</p>
    <div class="tabs is-centered">
      <ul>
        <li class="tab_link is-active" id="info_link"><a>Info</a></li>
        <li class="tab_link" id="warnings_link"><a>Warnings</a></li>
        <li class="tab_link" id="logs_link"><a>Logs</a></li>
        <li class="tab_link" id="config_link"><a>Config</a></li>
      </ul>
    </div>
     
     <div id="info">
      <p class="title is-2 columns is-mobile is-centered">Soon.</p>
     </div>
     
     <div id="warnings" style="display:none">
       <p class="title is-2 columns is-mobile is-centered">Soon.</p>
     </div>
     
     <div id="logs" style="display:none">
       <p class="title is-2 columns is-mobile is-centered">Soon.</p>
     </div>
     
    <div id="config" style="display:none">
      <div class="columns is-dark">
         <div class="card column is-4">
            <header class="card-header">
               <p class="card-header-title has-background-info has-text-white">
                  Set Prefix
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p class="title is-2 columns is-mobile is-centered">
                     <%= server.prefix %>
                  </p>
               </div>
            </div>
            <footer class="card-footer">
              <a href="#" id="setPrefixLink" class="card-footer-item">Edit</a>
            </footer>
         </div>
      </div>
      <div class="dropdown" style="display:none">
         <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span id="channel-name">Choose a channel</span>
            </button>
         </div>
         <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
               <% if(server.channels !== undefined){ server.channels.map(channel => {
                  if(channel.type  !== 0) return; %>
               <a id="channel-<%= channel.id %>" class="dropdown-item channel-item"><%= channel.name %></a>
               <% })} else { %>
               <a class="dropdown-item">
               No channel found. 🙁
               </a>
               <% } %>
            </div>
         </div>
      </div>
      <div id="modalSetPrefix" class="modal">
        <form method="POST" action="/guilds/<%= server.id %>/set-prefix">
          <div class="modal-background"></div>
          <div class="modal-card centratmax">
            <header class="modal-card-head has-background-info">
              <p class="modal-card-title has-text-white">Set prefix</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">New :</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" name="new_prefix" value="<%= server.prefix %>" required>
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-info" type="submit">Apply</button>
              <button class="button cancel">Cancel</button>
            </footer>
          </div>
        </form>
    </div>
     </div>
      
     <script>
       /*/
       / modal script
       /*/
       $("#setPrefixLink").click(function() {
         $("#modalSetPrefix").css("display","block")
       });
       $(".delete").click(function() {
         $(this).parent().parent().parent().parent().css("display","none");
       });
       $(".cancel").click(function() {
         $(this).parent().parent().parent().parent().css("display","none");
       });
       
       /*/
       / tabs script
       /*/
       $(".tab_link").click(function() {
        let part = $(this).attr("id").split("_")[0];
        $(".tab_link").each(function() {
           $(this).removeClass("is-active");
           $(`#${$(this).attr("id").split("_")[0]}`).css("display","none");
         });
         $(this).addClass("is-active");
         $(`#${part}`).css("display","block");
       })
     </script>
   </body>
</html>