

<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= server.name %> | <%= app_name %></title>
      <%- include("/app/public/ressources/require.ejs") %>
   </head>
   <body>
      <%- include("/app/public/ressources/navbar.ejs") %>
      <br>
      <h1 class="title is-1 columns is-mobile is-centered">Dashboard of <span class="has-text-danger">&nbsp;<%= server.name %></span>.</h1>
      <div class="columns is-dark">
         <div class="card column">
            <header class="card-header">
               <p class="card-header-title has-background-info has-text-white">
                  Set Prefix
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p class="title is-2 columns is-mobile is-centered">
                     <%= server.prefix %>
                  </p>
               </div>
            </div>
            <footer class="card-footer">
               <a href="#" class="card-footer-item">Default</a>
               <a href="#" class="card-footer-item">Edit</a>
            </footer>
         </div>
         <div class="card column">
            <header class="card-header">
               <p class="card-header-title has-background-info has-text-white">
                  Welcome Event
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p class="title is-2 columns is-mobile is-centered">
                     Enabled
                  </p>
               </div>
            </div>
            <footer class="card-footer">
               <a href="#" class="card-footer-item">Delete</a>
               <a href="#" class="card-footer-item">Edit</a>
            </footer>
         </div>
         <div class="card column">
            <header class="card-header">
               <p class="card-header-title has-background-info has-text-white">
                  Auto-Moderation
               </p>
            </header>
            <div class="card-content">
               <div class="content">
                  <p class="title is-2 columns is-mobile is-centered">
                     Enabled
                  </p>
               </div>
            </div>
            <footer class="card-footer">
               <a href="#" class="card-footer-item">Disable</a>
            </footer>
         </div>
      </div>
      <div class="dropdown" style="display:none">
         <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span id="channel-name">Choose a channel</span>
            </button>
         </div>
         <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
               <% if(server.channels !== undefined){ server.channels.map(channel => {
                  if(channel.type  !== 0) return; %>
               <a id="channel-<%= channel.id %>" class="dropdown-item channel-item"><%= channel.name %></a>
               <% })} else { %>
               <a class="dropdown-item">
               No channel found. 🙁
               </a>
               <% } %>
            </div>
         </div>
      </div>
   </body>
</html>