

<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= profil.username %> | <%= app_name %></title>
      <%- include("/app/public/ressources/require.ejs") %>
   </head>
   <body>
      <%- include("/app/public/ressources/navbar.ejs") %>
      <br>
      <h1 class="title is-2 is-black columns is-mobile is-centered">
         Welcome <span class="has-text-info">&nbsp;<%= profil.username %>&nbsp;</span> on the web dashboard ! 🤩<br>
      </h1>
      <progress class="progress is-large is-info" value="<%= ((profil.xp-profil.level*300)/300)*100 %>" max="100"></progress>
      <p class="is-italic title is-4 columns is-mobile is-centered">
         <span class="has-text-info"><%= (profil.level+1)*300-profil.xp %>&nbsp;</span> xp to reach level <span class="has-text-info">&nbsp;<%= profil.level+1 %></span>.
         Reputation : <span class="has-text-info">&nbsp;<%= profil.reputation %></span>. Money : <span class="has-text-info">&nbsp;<%= profil.money %></span>.
      </p>
   </body>
</html>