

<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Leaderboard | <%= app_name %></title>
      <%- include("/app/public/ressources/require.ejs") %>
      <link rel="stylesheet" href="/style.css">
   </head>
   <body>
      <%- include("/app/public/ressources/navbar.ejs") %>
      <br>
      <h1 class="title is-2 is-black columns is-mobile is-centered">
         Leaderboard
      </h1>
      <br>
      <% if(leaderboard.length === 0) { %>
      <p class="title is-2 columns is-mobile is-centered" style="margin-bottom: -0rem;">No user is present on the leaderboard. 🙁</p>
      <% } else { %> 
      <table class="table" style="width: 100%;">
         <thead>
            <tr>
               <th><abbr title="Classement of the user">Rank</abbr></th>
               <th>Username</th>
               <th><abbr title="The xp of the user">Xp</abbr></th>
               <th><abbr title="The level of the user">Lvl</abbr></th>
               <th><abbr title="The reputation of the user">Rep</abbr></th>
               <th><abbr title="The money of the user">$</abbr></th>
               <th>Description</th>
            </tr>
         </thead>
         <tfoot>
            <tr>
               <th><abbr title="Classement of the user">Rank</abbr></th>
               <th>Username</th>
               <th><abbr title="The xp of the user">Xp</abbr></th>
               <th><abbr title="The level of the user">Lvl</abbr></th>
               <th><abbr title="The reputation of the user">Rep</abbr></th>
               <th><abbr title="The money of the user">$</abbr></th>
               <th>Description</th>
            </tr>
         </tfoot>
         <tbody>
            <% for(var i=0; i<leaderboard.length; i++) { %>
            <tr>
               <th><%= i+1 %></th>
               <td><%= leaderboard[i].username %>
               </td>
               <td><%= leaderboard[i].xp %></td>
               <td><%= leaderboard[i].level %></td>
               <td><%= leaderboard[i].reputation %></td>
               <td><%= leaderboard[i].money %></td>
               <td>No description.</td>
            </tr>
            <% } %>
         </tbody>
      </table>
      <% } %>
   </body>
</html>